marquee {
    font-size: 1.5em;
}

th {
    height: 50px;
}

tr {
    border: 1px solid #ccc;
}

.angle {
    width: 50px;
    -moz-transform: rotate(-60deg);
}

.false {
    color: #f77;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
}

.kinda {
    color: #00f;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
}

.true {
    color: green;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
}
