{% extends "layout.html" %}
{% block css %}
  <link href="/static/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/static/bugskiosk.css" rel="stylesheet">
{% endblock css %}
{% block body %}
    <script src="/static/bz.js"></script>
    <script src="/static/purl.js"></script>
    <script src="/static/spin.min.js"></script>
    <script src="/static/bugskiosk.js"></script>
    <div id="content">
      <div id="output">
        <div id="loading"></div>
      </div>
      <div id="dateheader">
      </div>
    </div>
{% endblock %}
{% block footer%}
{% endblock %}
