{% extends "layout.html" %}
{% block body %}
  <p class="alert {% if all %}alert-success{% else %}alert-error{% endif %}">
  {% if all %}<span class="btn btn-success disabled">Passing</span>
  {% else %}<span class="btn btn-danger disabled">Failing</span>
  {% endif %}
  Last checked: <b>{{ result.when }}</b>.</p>
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Status</th>
    </thead>
    <tbody>
      {% for name, status in result.results.items() %}
        <tr>
        <td><a href="https://travis-ci.org/{{ name }}">{{ name }}</a><td>
        <td>{% if status %}<span class="btn btn-success disabled">Passing</span>
          {% else %}<span class="btn btn-danger disabled">Failing</span>
          {% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <p>For a JSON version:</p>
  <pre>curl -H "Accept: application/json" {{ request.url_root }}build/</pre>
{% endblock %}

