{% extends "layout.html" %}
{% block body %}
<form id="jump">
  <label>Jump to app:</label>
  <input type="text" placeholder="id or slug">
  <p>Hidden apps on the production marketplace.</p>
  <ul>
    <li><a href="#" class="jump" data-slug="mkt-dev">Dev</a></li>
    <li><a href="#" class="jump" data-slug="marketplace-payments-alt">Payments alt</a></li>
    <li><a href="#" class="jump" data-slug="mkt-stage">Stage</a></li>
    <li><a href="#" class="jump" data-slug="marketplace">Prod</a></li>
    <li><a href="#" class="jump" data-slug="marketplace-package">Tarako</a></li>
  </ul>
  <p>Other web activities.</p>
  <ul>
    <li><a href="#" class="usage">Usage</a></li>
  </ul>
</form>

{% endblock %}

