{% extends "layout.html" %}
{% block body %}
  <h3>OAuth Credentials</h3>
  <p>For the <a href="https://marketplace.allizom.org/developers/api">stage server</a>.</p>
  <form id="oauth" method="post">
    <label for="id_key"></label>
    <input id="id_key" type="text" name="key" placeholder="OAuth Key"></input>
    <label for="id_secret"></label>
    <input id="id_secret" type="text" name="secret" placeholder="OAuth Secret"></input>
    <label />
    <button type="submit" class="btn">Save</button>
  </form>

{% endblock %}

