{% extends "layout.html" %}
{% block body %}
  <h3>Alter price tier</h3>
  <p>This price tier is on <b>{{ server }}</b>.</p>
  <h4>Current</h4>
  <pre>{{ tier }}</pre>
  <hr>
  <form method="post" role="form">
      <legend>Change</legend>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="paid" name="paid" {% if tier.paid %}checked{% endif %}> Paid
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="dev" name="dev" {% if tier.paid %}checked{% endif %}> Dev
        </label>
      </div>
      <div class="form-group">
        <label for="method">Method</label>
        <input class="form-control" value="{{ tier.method }}" id="method" name="method">
        <label for="currency">Currency</label>
        <input class="form-control" value="{{ tier.currency }}" id="currency" name="currency">
      </div>
      <button type="submit" class="btn btn-default">Change</button>
  </form>
{% endblock %}

