{% extends "layout.html" %}
{% block body %}
  <h2>Price tiers</h2>
  <p>
    <a href="/tiers/dev/">Development</a> &bull;
    <a href="/tiers/stage/">Stage</a> &bull;
    <a href="/tiers/prod/">Production</a>
  </p>
  {% if result %}
  <p class="well">Results for: <b>{{ server }}</b></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tier&nbsp;name</th>
        {% for id in sorted %}
        <th>{{ regions[id] }}</th>
        <th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for tier in result %}
        <tr>
          <td>{{ tier.name }}</td>
          {% for id in sorted %}
            {% if id in tier.prices %}
            <td>{{ tier.prices[id].currency }}&nbsp;{{ tier.prices[id].price }}</td>
            <td class="{% if methods[tier.prices[id].method] == 'both' %}text-success{% else %}text-info{% endif %}">{{ methods[tier.prices[id].method] }}</td>
            {% else %}
            <td />
            <td />
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
{% endblock %}

