{% extends "layout.html" %}
{% block body %}
  <p>
    {% for server in ['prod', 'stage', 'payments-alt'] %}
      {% for text, date in dates %}
        <a href="/transactions/{{ server }}/{{ date }}/">{{ server }} {{ text }}</a>{% if not loop.last %} &bull; {% endif %}
      {% endfor %}{% if not loop.last %}<br>{% endif %}
    {% endfor %}
  </p>
  {% if filename %}
    <p class="alert">Results for: <b>{{ filename }}</b> (<a id="show" href="">raw data</a>).</p>
    <div class="hidden">
        <h2>Raw Source</h2>
        <pre>{{ filedata }}</pre>
    </div>
  {% endif %}
  {% if rows %}
  <h2>Completed</h2>
  {% if stats.currencies %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Currency</th>
        <th>Number</th>
        <th>Mean</th>
      </tr>
    </thead>
    <tbody>
      {% for currency, row in stats.currencies.items() %}
        <tr>
          <td>{{ currency }}</td>
          <td>{{ row['count'] }}</td>
          <td>{{ row['mean'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p>Average time to completion: <b>{{ stats['mean'] }} seconds</b>.</p>
  {% else %}
  <p>None</p>
  {% endif %}
  <h2>Transactions</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Status</th>
        <th>Actual</th>
        <th>Percent</th>
      </tr>
    </thead>
    <tbody>
      {% for status, actual, percent in stats.statuses %}
        <tr>
          <td>{{ statuses[status][0] }}</td>
          <td>{{ actual }}</td>
          <td>{{ percent }}%</td>
       </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>Details</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Status</th>
        <th>Currency</th>
        <th>Amount</th>
        <th>Started</th>
        <th>Took (avg. {{ stats['mean'] }})</th>
        <th>Seller ID*</th>
        <th>Buyer ID</th>
        <th>Source</th>
        <th>Carrier</th>
        <th>Region</th>
        <th>Provider</th>
        <th>Id</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        <td>
          <span class="label label-{{ statuses[row['status']][1] }}">{{ statuses[row['status']][0] }}</span>
        </td>
        <td>{{ row['currency'] }}</td>
        <td>{{ row['amount'] }}</td>
        <td>{{ row['created'].strftime('%H:%M:%S') }}</td>
        <td>{% if row['diff'].days >= 0 %}{{ row['diff'] }}{% else %}0:00:00{% endif %}</td>
        <td>{{ row['seller'][:5] }}...</td>
        <td>{% if row['buyer'] %}{{ row['buyer'][:5] }}...{% endif %}</td>
        <td>{{ row['source'] }}</td>
        <td>{{ row.get('carrier', '') }}</td>
        <td>{{ row.get('region', '') }}</td>
        <td>{{ row['provider'] }} </td>
        <td>{{ row['uuid'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p class="alert alert-info">No transactions.</p>
  {% endif %}
  <p><b>*</b> This is the ID for the app. Resolving this into something
  understandable for the marketplace is still to be done.</p>
  <p>This only shows limited information from the
  servers to show test transactions. For an arbitrary date:</p>
  <pre>{{ request.url_root }}transactions/server/YYYY-MM-DD/</pre>
{% endblock %}
